@media screen and  (max-width: 450px) {
    #section_1 #bgimage button{
        width: 30%;
    }
}
@media screen and  (max-width: 500px) {
    #section_1 #bgimage{
        padding: 20px 0 0 0;
    }
    #section_1 #bgimage p{
        font-size: 40px;
        line-height: 55px;
    }
    #section_1 #bgimage button{
        font-size: 16px;
    }
}
@media screen and  (max-width: 500px) {
    #desing{

        display:none;
    }
    #platform{
        padding: 60px 60px;
    }
}

@media screen and  (min-width:451px) and (max-width: 660px) {
    #section_1 #bgimage button{
        width: 20%;
    }
}
@media screen and  (max-width: 740px) {
    #section_1 #bgimage{

        height: 0%;
    }
}
@media screen and  (max-width: 970px) {
    #section_3 .middle .features{

        width:100%;
        margin-bottom: 20px;
    }
    #section_3 .feature_content {
        width: 100%;
    }
    .pen, .earphones, #section_3 .coffee{
        display:none;
    }
    .feature-header{
        top:50px;
    }
    #section_3 .top{
        margin-bottom: 6%;
    }
    #section_3{
        padding:5%;
    }
}


@media screen and  (max-width: 1000px) {
    #platform{

        width: calc(100% - 120px);
    }
    #desing{
        width:100%;
    }
    .triangle{

        float:right;
    }
}