@media screen and  (max-width: 450px) {
    #section_1 #bgimage button{
        width: 30%;
    }
}
@media screen and  (max-width: 500px) {
    #section_1 #bgimage{
        padding: 20px 0 0 0;
    }
    #section_1 #bgimage p{
        font-size: 40px;
        line-height: 55px;
    }
    #section_1 #bgimage button{
        font-size: 16px;
    }
    #desing,.desing-2{

        display:none;
    }
    #platform{
        padding: 60px 60px;
    }
}
@media screen and  (max-width: 600px) {
    #section_7 span{
        font-size: 12px;
    }

}


@media screen and  (min-width:451px) and (max-width: 660px) {
    #section_1 #bgimage button{
        width: 20%;
    }
}
@media screen and  (max-width: 740px) {
    #section_1 #bgimage{

        height: 0%;
    }
}

@media screen and  (max-width: 730px) {
    .triangle-2 img{

        display: none;
    }
}


@media screen and  (max-width: 1000px) {
    #platform{

        width: calc(100% - 120px);
    }
    #desing{
        width:100%;
    }
    .desing-2{
        width: 70%;
    }
    .platform-2{
        width: calc(100% - 120px);

    }
    .triangle-2{
        border-width: 0px 500px 550px 0;
}
    .triangle{
        border-width: 200px 0 526px 480px;
    }


}
@media screen and  (max-width: 1340px) {
    footer .data{
        width: calc(100% - 160px);
        padding: 0 80px;
        text-align: center;
    }
    .desing-3{
        display:none;
    }
    footer .data .col-md-3{
        width: 60%;
        margin-bottom: 40px;
    }
    footer .data .col-md-2{
        width: 40%;
        margin-bottom: 40px;
        float: right;
    }
    .social-network{
        margin-left: 0;
    }
    .social-network img {
        margin-right: 10%;
    }
    .ex-triangle{
        left: 52%;
    }
}

@media screen and  (max-width: 970px) {
    #section_3 .middle .features{

        width:100%;
        margin-bottom: 20px;
    }
    #section_3 .feature_content {
        width: 100%;
    }
    .pen, .earphones, #section_3 .coffee{
        display:none;
    }
    .feature-header{
        top:50px;
    }
    #section_3 .top{
        margin-bottom: 6%;
    }
    #section_3{
        padding:5%;
    }
    #section_5 .testimonials{
        width:100%;
        margin-bottom: 30px;
    }
    #section_7 .submit,#section_7 .input{
        width: 70%;
        margin-right: 25px;
        text-align: center;
        padding-left: 0;
    }
    .trial{
        margin-left: 0;
    }
    .arrow{
        display:none;
    }
    #section_6 .top, #section_7 .top{
        width: calc(100% - 120px);
        padding: 0 60px;
    }
    footer .data .col-md-3{
        width: 100%;
    }
    footer .data .col-md-2{
        width: 100%;
    }
    .social-network{
        margin-left: 50px;
    }
    .social-network img {
        margin-right: 10%;
    }
}
