*{margin:0; padding:0;}
.clear{clear:both;}
@font-face {font-family:"Exo Thin";src:url("fonts/Exo_Thin/Exo-Thin.eot?") format("eot"),url("fonts/Exo_Thin/Exo-Thin.woff") format("woff"),url("fonts/Exo_Thin/Exo-Thin.ttf") format("truetype"),url("fonts/Exo_Thin/Exo-Thin.svg#Exo-Thin") format("svg");font-weight:normal;font-style:normal;}
.center{ margin: 0 auto;}

#section_1 #bgimage{

    height: 590px;
    background-image: url("images/header.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 225px 0 0 0;
    text-align: center;
    background-size: cover;
}
#circle{
    width: 59px;
    height: 59px;
    background-color: #323969;
    border-radius: 50%;
    margin: 0 auto;
}
#section_1 #bgimage p{
    width: 708px;
    height: 138px;
    color: #282828;
    font-family: "Exo Thin";
    font-size: 60px;
    font-weight: 400;
    line-height: 75px;
    text-align:center;
    margin-bottom: 43px;

}
#circle img{
    margin: 33% 30% 30% 39%
}
#section_1 #bgimage button
{
    width: 14.5%;
    height: 50px;
    border-radius: 3px;
    background-color: #ff6d6d;
    border: none;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 39px 0 19px 0;

}
#section_1 #bgimage span{
    width: 203px;
    height: 11px;
    opacity: 0.6;
    color: #282828;
    font-family: Exo;
    font-size: 14px;
    font-weight: 400;
    line-height: 75px;
}
#section_2{
    height: 726px;
}

#platform{
    float: left;
    width: 52%;
    padding: 120px 60px;
}
.subtitle{

    color: #ff6d6d;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase
}
.title{

    color: #282828;
    font-family: Exo;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1.6px;
    margin-bottom: 45px;
}
.title span{
    color: #ff6d6d;
    letter-spacing: 1.6px;
}
.description{

    letter-spacing: 0.64px;
    opacity: 0.66;
    color: #282828;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

#desing{
    float:right;
    background-color: #ECECEC;
    width: 39%;
    height: 726px;
}

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 0 526px 526px;
    border-color: transparent transparent #ff6d6d transparent;
    float: right;
}
#section_3{
    background-color: #f6f5f3;
    height: 675px;
    padding: 0 5%;
}
.top{
    position: relative;
}
.pen{
    position:absolute;
    top:0;

}
.earphones{
    position:absolute;
    top: 0;
    right:5%;
}

.feature-header{
    position: relative;
    text-align: center;
    width: 100%;
    top: 120px;
}
#section_3 .middle .features, #section_5 .testimonials{
    float: left;
    width: 33%;
    text-align: center;
}
#section_3 .top{
    margin-bottom: 14.5%;
}
#section_3 .feature_content{
    width: 90%;
    margin: 0 auto;
}
#section_3 .coffee{
    float: right;
    margin-top: 7%;
}
.feature_title{
    color: #282828;
    font-family: Exo;
    font-size: 22px;
    font-weight: 500;
    line-height: 49.97px;
}
.desing-2 {
    float: left;
    background-color: #ff6d6d;
    width: 48%;
    height: 550px;
    position:relative;
}

.triangle-2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 585px 550px 0;
    border-color: transparent #fff transparent transparent;
    float: right;
}
.triangle-2 img{
    position: absolute;
    top: 18%;
}
.platform-2{
    float: right;
    width: 40%;
    padding: 125px 60px;
}

#section_5{
    height: 430px;
    background-image: url("images/group-4.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    clear:both;
    padding: 8% 0;
    position: relative;

}
#section_5 .testimonial-content{
    width: 65%;
    margin: 0 auto;

}
#section_5 .name{
    color: #ffffff;
    font-family: Exo;
    font-size: 22px;
    font-weight: 500;
    line-height: 49.97px;
}
#section_5 .undertitle{
    color: #ff6d6d;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 49.97px;
}
#section_5 .descp{
    opacity: 0.66;
    color: #ffffff;
    font-family: "Exo - Regular";
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 26px;
}
.partners{
    position: absolute;
    bottom: 15%;
    width:100%
}
.partners img{
    margin-left:10%;
}